/* index.css or App.css */
@import './colors.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';


body {
    background-color: var(--oxford-blue); /* Violet background */
    color: var(--white);
    align-items: center;
    height: 100vh;
    margin: 0;
}


.btn-primary {
    background: var(--orange-web) !important;
    border: 1px solid var(--black);
    color: var(--oxford-blue)!important;
 }
 .navbar-nav {
    display: flex;
    align-items: center;
  }
  
  .nav-link {
    margin: 0 10px;
    font-weight: 500;
    text-decoration: none;
    color: var(--oxford-blue)

  }
  
  .nav-link:hover {
    color: var(--orange-web);

  }
  
  .profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
  }
  .navbar {
    background-color:var(--platinum);
    padding: 10px 20px;
  }  
  


  .main-div-container {
    display: flex;
    justify-content: center;    
    width: 100%;
    margin-top: 10vh;
}
.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover; 
}