/* index.css or App.css */
@import './colors.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';


body {
    background-color: var(--oxford-blue); /* Violet background */
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.btn-primary {
    background: var(--orange-web) !important;
    border: 1px solid var(--black);
    color: var(--oxford-blue)!important;
 }
